<% layout('../layout/page.ejs') -%>

<h1 style="padding: 0 20px;"><%- i18n('portal.login') -%></h1>

<p>&nbsp;</p>
<p class="text-center">
  <a href="/auth/google"><img src="/sarah/assets/sign-in-with-google.png" alt="sign in with google"/></a>
</p>