
<ul class="nav nav-pills nav-stacked">
<% for (var i = 0; i < items.length; i++) { %>
  <li <%- items[i].active ? "class='active'" : "" -%>><a href="<%- items[i].url -%>" ><%- i18n(items[i].name) -%></a></li>
<% } %>
</ul>

<p class="split text-center"><span class="glyphicon glyphicon-chevron-down"></span></p>