@font-face {
  font-family: 'verbcondregular';
  src: url('../font/VerbCondRegular-webfont.eot');
  src: url('../font/VerbCondRegular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/VerbCondRegular-webfont.woff') format('woff'), url('../font/VerbCondRegular-webfont.ttf') format('truetype'), url('../font/VerbCondRegular-webfont.svg#verbcondregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Condensed Light';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(../font/opensans300.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(../font/opensans700.woff) format('woff');
}
H1,
H2,
H3,
H4 {
  font-family: 'Open Sans Condensed', sans-serif;
}
BODY {
  font-family: 'Open Sans Condensed', sans-serif;
}
.OpenSansLight {
  font-family: 'Open Sans Condensed Light', sans-serif;
  font-size: 16px;
  text-align: justify;
  text-justify: inter-word;
}
.text-strikethrough {
  text-decoration: line-through;
}
.text-capital {
  text-transform: capitalize;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #EEE;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  background: #CCC;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: #AAA;
}
::-webkit-scrollbar-thumb:active {
  background: #888;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.modal-body {
  font-family: 'Open Sans Condensed Light', sans-serif;
  font-size: 16px;
  overflow-y: auto;
  max-height: 600px;
}
.modal-body IMG {
  max-width: 100%;
}
.modal-body .modal-stick {
  margin: -15px;
}
.modal-header {
  color: #FFF;
  background-color: #D9534F;
  border-radius: 6px 6px 0px 0px;
}
.modal-footer {
  background-color: #EEE;
  border-radius: 0px 0px 6px 6px;
}
.form-horizontal LABEL,
.form-horizontal SELECT {
  text-transform: capitalize;
}
.form-horizontal LABEL,
.form-horizontal SELECT,
.form-horizontal .nav-tabs {
  font-family: 'Open Sans Condensed', sans-serif;
}
.form-horizontal INPUT[type=number],
.form-horizontal SELECT {
  width: 50%;
}
HTML,
BODY,
#layout,
#sidebar,
#content,
#live {
  height: 100%;
}
#layout {
  margin: 0px;
  background: linear-gradient(135deg, #ffffff 13%, #e6dec5 66%);
}
#sidebar {
  overflow-y: auto;
  color: #636363;
  background: #191818;
  padding: 0;
}
#sidebar H2 {
  text-align: center;
}
#sidebar .split {
  margin: 20px 0px;
}
#sidebar .split .glyphicon {
  font-size: 150%;
}
#sidebar .split:last-child {
  display: none;
}
#sidebar .nav LI {
  font-size: 120%;
}
#sidebar .nav LI A {
  color: #636363;
  font-weight: bold;
  border-radius: 0;
}
#sidebar .nav LI A:hover,
#sidebar .nav LI.active A {
  color: #FFFFFF;
  background-color: #222222;
}
#content {
  padding: 0;
}
#content .wrapper {
  padding: 0px 3% 3% 3%;
  overflow-y: scroll;
  height: 100%;
}
#content H1 {
  color: #BCB2AB;
  margin: 3% 0px;
}
#live {
  padding: 0;
  color: #8F8F8F;
  background: #F6F6F6;
}
#live H2 {
  margin: 0;
  padding: 10px;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #BBB;
}
#live #headline-logo {
  padding: 20px;
  border-bottom: 2px solid #ff702a;
}
#live #headline-logo IMG {
  width: 100%;
}
#live .news {
  padding: 20px 20px 0px 20px;
}
#live .news IMG {
  width: 100%;
}
#live .news H3 {
  margin: 0px 0px 5px 0px;
}
