<% sidebar = SARAH.PortalManager.SIDEBAR %>
<% layout('/layout/layout.ejs') -%>
<% script('/template/www/js/template.js'); %>
<% stylesheet('/template/www/less/template.css'); %>

<h1><%- i18n('plugin.template.hello') -%></h1>

<div id="template">
  <a href="#" class="template"><%- i18n('plugin.template.world') -%></a>
</div>